---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h2 class="font-extralight text-4xl m-auto mt-5 py-5 w-[80%] text-center border border-red rounded-sm">Welcome To <span class="text-pink-600">Cali's Vogue</span></h2>
	</main>
</Layout>
