---
import Icon from "./Icon.astro"
---
<div class="border-b-2 border-b-black pb-2 flex items-center justify-between px-2 py-1">
  <div>
    <h2 class="text-4xl text-pink-600 font-extralight"><a href="./" class="flex items-center">Cali's Vogue <Icon name="cart" className="text-2xl mt-3"/></a></h2>
  </div>

  <div class="flex items-center justify-between">
    <div class="mx-6 cursor-pointer hover:text-pink-600 duration-100 text-black text-[20px] "><a href="./">Home</a></div>
    <div class="mx-6 cursor-pointer hover:text-pink-600 duration-100 text-black text-[20px] "><a href="./shop">Shop</a></div>
    <div class="mx-6 cursor-pointer hover:text-pink-600 duration-100 text-black text-[20px] "><a href="./cart">Cart</a></div>
    <div class="mx-6 cursor-pointer hover:text-pink-600 duration-100 text-black text-[20px] "><a href="./profile">Profile</a></div>
  </div>
</div>