---
import Icon from "./Icon.astro"
---
<div>
  <div>
    <Icon name="cart" className="text-pink-400" />
  </div>
  <div>
    <li><Icon name="tool" className="text-red-400" />Home</li>
    <li> <Icon name="paintBucket" className="text-yellow-400 text-3xl" /> Home</li>
    <li>Home</li>
    <li>Home</li>
  </div>
</div>