---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro"

interface Props {
	title: string;
	description?: string;
	image?: string;
}

const { title, description = "An e-commerce brand" ,image = "/images/logo.jpg"} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="../images/logo.jpg" />
		<link rel="stylesheet" href="./styles/base.css" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:image" content={image} />
		<title>{title}</title>
	</head>
	<body class="min-h-screen sm:max-w-[80%] m-auto bg-gray-100 max-sm:w-[100%] ">
		<Header/>
		<slot />
		<Footer/>
	</body>
</html>